<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="ShowWhatProcessLocksFile"
           Language="1033"
           Version="$(var.InstallerVersion)"
           Manufacturer="PolarGoose"
           UpgradeCode="ecbb21bf-5b26-4971-aac2-d3528a7f10fb"
           InstallerVersion="200"
           Scope="perUser">
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
    <MediaTemplate EmbedCab="yes"/>
    <Feature Id="ProductFeature" Title="ShowWhatProcessLocksFile" Level="1">
      <ComponentGroupRef Id="ProductComponents"/>
    </Feature>
  </Package>
  <Fragment>
    <StandardDirectory Id="AppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="ShowWhatProcessLocksFile"/>
    </StandardDirectory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="18A44A77-A0C6-4CE7-9CE5-88ECBEF62B14">
        <File Id="ShowWhatProcessLocksFile.exe" Source="$(var.ShowWhatProcessLocksFile.TargetDir)\ShowWhatProcessLocksFile.exe"/>
        <File Id="ShowWhatProcessLocksFile.exe.config" Source="$(var.ShowWhatProcessLocksFile.TargetDir)\ShowWhatProcessLocksFile.exe.config"/>
        <File Id="System.ValueTuple.dll" Source="$(var.ShowWhatProcessLocksFile.TargetDir)\System.ValueTuple.dll"/>
        <File Id="icon.ico" Source="$(var.ShowWhatProcessLocksFile.ProjectDir)\Icon\icon.ico"/>

        <!-- https://stackoverflow.com/a/29769228/7585517 -->
        <RegistryKey Root="HKCU" Key="Software\Classes\*\shell\ShowWhatProcessLocksFile">
          <RegistryValue Type="string" Value="Show what locks this file"/>
          <RegistryValue Type="string" Name="Icon" Value="&quot;[INSTALLFOLDER]icon.ico&quot;"/>
          <RegistryKey Key="command">
            <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]ShowWhatProcessLocksFile.exe&quot; &quot;%1&quot;"/>
          </RegistryKey>
        </RegistryKey>

        <RegistryKey Root="HKCU" Key="Software\Classes\Directory\shell\ShowWhatProcessLocksFile">
          <RegistryValue Type="string" Value="Show what locks this folder"/>
          <RegistryValue Type="string" Name="Icon" Value="&quot;[INSTALLFOLDER]icon.ico&quot;"/>
          <RegistryKey Key="command">
            <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]ShowWhatProcessLocksFile.exe&quot; &quot;%1&quot;"/>
          </RegistryKey>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
